$font-color: #1e2d2f;
$footer-background: #222532;
$footer-font: #ffffff;
$about-font: #ffffff;
$about-background: #222532;
$nav-background: #ffffff;
$contact-icons: #1e2d2f;
$contact-hover: #028090;
$projects-background: #222532;
$projects-font: #ffffff;
$skills-background: #028090;
$skills-font: #ffffff;
$resume-background: #028090;
$resume-font: white;
$resume-font-hover: white;
$resume-button: #222532;

// cadet 2D3142
// silver BFC0C0
// white FFFFFF
// mandrin EF8354
// 4F5D75 grey
// 028090 blue
