@import '../variables.scss';

.project {
  width: 50%;
  .project-inner {
    margin: 0 10px 10px 0;
    background-color: $projects-background;
    color: $projects-font;
    position: relative;
    border: thin solid black;
    height: 98%;
  }
  .right {
    margin-right: 0;
  }
  .screenshot {
    width: 100%;
  }
  .project-text {
    margin: 5px 10px;
  }
  .tech-stack-header {
    font-size: 0.9em;
    margin: 0;
  }
  .project-title {
    margin: 10px 0 0 0;
  }
  p.tech-stack {
    margin: 0;
    font-size: 0.75em;
  }
  p.project-description {
    margin: 5px 0 10px 0;
    font-size: 1em;
  }
  .project-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    background-color: rgba($projects-background, 0.9);
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
    transform: translateY(0);
    .hover-icon {
      color: rgba($color: white, $alpha: 1);
      font-size: 5em;
      opacity: 1;
      transition: 0.5s;
    }
    .hover-icon:hover::before {
      transform: scale(1.1);
    }
    .hover-icon:hover {
      color: $contact-hover;
      text-shadow: 0 0 5px white;
    }
    .link-container {
      padding: 5%;
    }
  }
  .hide {
    height: 0;
    opacity: 0;
  }
}
