@import '../variables.scss';

#skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $skills-font;
  background-color: $skills-background;
  padding: 0 5% 30px 5%;
  margin-bottom: 50px;
  h4,
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  h4 {
    font-size: 1.5em;
    padding-top: 30px;
    width: 50%;
    align-self: flex-start;
  }
  ul {
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 0.5px rgba($skills-font, $alpha: 0.5);
  }
  li {
    padding-left: 5%;
  }
  .list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25em;
    .frameworks-list-item,
    .languages-list-item {
      margin-right: 5px;
      width: 18%;
      padding-bottom: 1%;
    }
    .experiences-list-item {
      width: 45%;
      padding-bottom: 1%;
    }
  }
}
